bin
hl2
platform
steamapps
srcds*
start_server.sh
steam_appid.txt
__pycache__
venv
debug.log

*secrets.env
data/secret/*
scripts/unused

fof/*
!fof/maplists/
fof/maplists/*
!fof/maplists/team_shootout*